<h1>All users</h1>

<%= form_tag users_path, :id => "users_search", :method => 'get' do %>
<%= autocomplete_field_tag :search, params[:search], autocomplete_user_name_users_path, :size => 40 %>
<%= submit_tag "Find User", :name => nil %>
<% end %>

<div id="show_users"><%= render "users" %></div>
